@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');
div#screen_main {
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
}


div.boxLight {
	position: absolute;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	border: none;
	outline: none;
	text-decoration: none;
	border-image: none;
	pointer-events: none;
}

div.retro div.boxLight {
	transition: opacity 2.5s ease, visibility ease 2.5s;
}


///////

.lockContainer{
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	display: flex;
	position: absolute;
	transform: (-50%, - 50px); 
	

}


div#lock{
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	display: flex;
	position: absolute;
	//pointer-events: none;
	cursor: pointer;
	transform: (-50%, - 50px); // Centra el lock en la pantalla
}
div.lockFuture{
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	display: flex;
	position: absolute;
	pointer-events: none;
	transform: (-50%, - 50px); // Centra el lock en la pantalla
}


p#rotationNum{
	position: absolute;
	z-index: 10;
	top: 50%; // Centra verticalmente
	left: 50%; 
	transform: translate(-50%, -50%); // Ajusta el centrado
	margin: 0; 
	pointer-events: none; 
	user-select: none; // Evita que el texto sea seleccionable
	font-style: bold; 
	font-family: sans-serif;
}

.retroBlackBackground{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: rgba(0, 0, 0, 0.596);
	border-radius: 50%;
}
