@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');

div#screen_main {
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
}

div.boxLight {
	position: absolute;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	border: none;
	outline: none;
	text-decoration: none;
	border-image: none;
	pointer-events: none;
}

div.retro div.boxLight {
	transition: opacity 2.5s ease, visibility ease 2.5s;
}

.lockContainer{
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	display: flex;
	position: absolute;
	transform: (-50%, - 50px); 
}

div#lock{
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	display: flex;
	position: absolute;
	//pointer-events: none;
	cursor: pointer;
	transform: (-50%, - 50px); // Centra el lock en la pantalla
}

div.lockFuture{
	z-index: 4;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	display: flex;
	position: absolute;
	pointer-events: none;
	transform: (-50%, - 50px); // Centra el lock en la pantalla
}

p#rotationNum{
	position: absolute;
	z-index: 10;
	top: 50%;
	left: 50%; 
	transform: translate(-50%, -50%);
	margin: 0; 
	pointer-events: none; 
	user-select: none;
	font-style: bold; 
	font-family: "Orbitron", sans-serif;
}

div.futuristic p#rotationNum{
	color: #0fbdfd;
	font-family: "Orbitron", sans-serif;
	top: 49.2%;
	left: 50.05%;
}

div.retro p#rotationNum{
	font-family: "Winky Rough", sans-serif;
	color: white;
	top: 49.7%;
	left: 50.07%;
}